---
title: Four Levels of High Availability
owner: Release Integration
---

<strong><%= modified_date %></strong>

This topic introduces the concept of High Availability (HA) in a <%= vars.first_product_name %>  deployment.  <%= vars.product_name %> includes several layers of HA to keep applications running in the face of system failure. These layers include availability zones (AZs), application health management, process monitoring, and VM resurrection. 

## <a id='azs'></a>Availability Zones ##


<%= vars.product_name %> supports deploying applications instances across multiple AZs. This level of high availability requires that you define AZs in your IaaS. <%= vars.product_name %> balances the applications you deploy across the AZs you defined. If an AZ goes down, you still have application instances running in another. 

<%= vars.azs %>


## <a id='health-management-apps'></a>Health Management for App Instances ##

If you lose application instances for any reason, if there is a bug in the app, or if an AZ goes down, <%= vars.product_name %> will restart new instances so that capacity is maintained. The nsync, Converger, and Cell Rep components constantly track the state of the system, in particular, the number of instances of each application that are running across all of the Diego Cells. When these components detect a discrepancy between the actual state of the app instances in the cloud and the desired state, as known by the Cloud Controller, they advise the Cloud Controller of the difference and the Cloud Controller initiates the deployment of new application instances.

## <a id='monitored-processes'></a>Monitored processes ##

<%= vars.product_name %> uses a BOSH agent, monit, to monitor the processes on the component VMs that work together to keep your applications running, such as nsync, Converger, and Cell Rep. If monit detects a failure, it restarts the process and notifies the BOSH agent on the VM. The BOSH agent notifies the BOSH Health Monitor, which triggers responders through plugins such as email notifications or paging.

## <a id='health-monitoring'></a>Health Monitoring for Virtual Machines ##


<%= vars.resurrector %>

<%= vars.resurrector1 %>

<%= vars.resurrector2 %>
































