---
title: Understanding Cloud Foundry Security
owner: Security
---

<strong><%= modified_date %></strong>

This topic provides an overview of Cloud Foundry (CF) security. For an overview of container security, see the [Understanding Container Security](container-security.html) topic.

Cloud Foundry implements the following measures to mitigate against security threats:

* Minimizes network surface area
* Isolates customer applications and data in containers
* Encrypts connections
* Uses  role-based access controls, applying and enforcing roles and permissions to ensure that users can only view and affect the spaces for which they have been granted access
* Ensures security of application bits in a multi-tenant environment
* Prevents possible denial of service attacks through resource starvation

## <a id='system-boundaries'></a>System Boundaries and Access ##

As the image below shows, in a typical deployment of Cloud Foundry, the components run on virtual machines (VMs) that exist within a VLAN. In this configuration, the only access points visible on a public network are a load balancer that maps to one or more Cloud Foundry routers and, optionally, a NAT VM and a jumpbox. Because of the limited number of contact points with the public internet, the surface area for possible security vulnerabilities is minimized.

<p class="note"><strong>Note</strong>: <%=vars.pcf_rec%> recommends that you also install a NAT VM for outbound requests and a Jumpbox to access the BOSH Director, though these access points are optional depending on your network configuration.</p>

  <%= image_tag("images/security/sysbound1.png") %>

### <a id='protocols'></a>Protocols ###

All traffic from the public internet to the Cloud Controller and UAA happens over HTTPS. Inside the boundary of the system, components communicate over a publish-subscribe (pub-sub) message bus [NATS](http://nats.io/), HTTP, and SSL/TLS.

### <a id='bosh'></a>BOSH ###

Operators deploy Cloud Foundry with BOSH. The BOSH Director is the core orchestrating component in BOSH: it controls VM creation and deployment, as well as other software and service lifecycle events. You use HTTPS to ensure secure communication to the BOSH Director.

<p class="note"><strong>Note</strong>: <%=vars.pcf_rec%> recommends that you deploy the BOSH Director on a subnet that is not publicly accessible, and access the BOSH Director from a Jumpbox on the subnet or through VPN.</p>

BOSH includes the following functionality for security:

* Communicates with the VMs it launches over NATS. Because NATS cannot be accessed from outside Cloud Foundry, this ensures that published messages can only originate from a component within your deployment.

* Provides an audit trail through the `bosh tasks` command. This command shows all actions that an operator has taken with BOSH.

* Allows you to set up individual login accounts for each operator. BOSH operators have root access.

<p class="note"><strong>Note</strong>: BOSH does not encrypt data stored on BOSH VMs. Your IaaS might encrypt this data.</p>

## <a id='auth'></a>Authentication and Authorization ##

[User Account and Authentication](./architecture/uaa.html) (UAA) is the central identity management service for Cloud Foundry and its various components.

UAA acts as an [OAuth2](https://oauth.io/) Authorization Server and issues access tokens for applications that request platform resources. The tokens are based on the [JSON Web Token](http://jwt.io/) and are digitally signed by UAA.

Operators can configure the identity store in UAA. If users register an account with the Cloud Foundry platform, UAA acts as the user store and stores user passwords in the UAA database using [bcrypt](http://en.wikipedia.org/wiki/Bcrypt). UAA also supports connecting to external user stores through LDAP and SAML. Once an operator has configured the external user store, such as a corporate Microsoft Active Directory, users can use their LDAP credentials to gain access to the Cloud Foundry platform instead of registering a separate account. Alternatively, operators can use SAML to connect to an external user store and enable single sign-on for users into the Cloud Foundry platform.

### <a id='rbac'></a>Managing User Access with Role-Based Access Control ###

Applications that users deploy to Cloud Foundry exist within a space. Spaces exist within orgs. To view and access an org or a space, a user must be a member of it. Cloud Foundry uses role-based access control (RBAC), with each role granted permissions to either an org or a specified space. For more information about roles and permissions, refer to the [Orgs, Spaces, Roles, and Permissions](roles.html) topic.

<%=vars.console_links%>

## <a id='service-broker'></a>Security for Service Broker Integration ##

The Cloud Controller authenticates every request with the Service Broker API using HTTP or HTTPS, depending on which protocol that you specify during broker registration. The Cloud Controller rejects any broker registration that does not contain a username and password.

Service instances bound to an app contain credential data. Users specify the binding credentials for [user-provided service instances](../devguide/services/user-provided.html), while third-party brokers specify the binding credentials for managed service instances. The VCAP_SERVICES environment variable contains credential information for any service bound to an app. Cloud Foundry constructs this value from encrypted data that it stores in the Cloud Controller Database (CCDB).

<p class="note"><strong>Note</strong>: The selected third-party broker controls how securely to communicate managed service credentials.</p>

A third-party broker might offer a dashboard client in its catalog. Dashboard clients require a text string defined as a `client_secret`. Cloud Foundry does not store this secret in the CCDB. Instead, Cloud Foundry passes the secret to the UAA component for verification using HTTP or HTTPS.

## <a id='vuln-manage'></a>Software Vulnerability Management ##

Cloud Foundry manages software vulnerability using releases and BOSH stemcells. New Cloud Foundry releases are created with updates to address code issues, while new stemcells are created with patches for the latest security fixes to address any underlying operating system issues.

## <a id='app-artifacts'></a>Ensuring Security for Application Artifacts ##

Cloud Foundry secures both the code and the configuration of an application using the following functionality:

* Application developers push their code using the [Cloud Foundry API](http://apidocs.cloudfoundry.org/). Cloud Foundry secures each call to the CF API using the [UAA](#auth) and SSL.

* The Cloud Controller uses [RBAC](#rbac) to ensure that only authorized users can access a particular application.

* The Cloud Controller stores the configuration for an application in an encrypted database table. This configuration data includes user-specified environment variables and service credentials for any services bound to the app.

* Cloud Foundry runs the app inside a secure container. For more information, see the [Application Isolation with Containers](#containers) section.

* Cloud Foundry operators can configure network traffic rules to control inbound communication to and outbound communication from an app. For more information, see the [Network Traffic Rules](#network-traffic) section.

## <a id='logging'></a>Security Event Logging and Auditing ##

For operators, Cloud Foundry provides an audit trail through the `bosh tasks` command. This command shows all actions that an operator has taken with the platform.
Additionally, operators can redirect Cloud Foundry component logs to a standard syslog server using the `syslog_daemon_config` [property](http://docs.cloudfoundry.org/running/managing-cf/logging.html) in the `metron_agent` job of `cf-release`.

For users, Cloud Foundry records an audit trail of all relevant API invocations of an app. The Cloud Foundry Command Line Interface (cf CLI) command `cf events` returns this information.

## <a id='recommendations'></a>Recommendations for Running a Secure Deployment ##

To help run a secure deployment, <%=vars.pcf_rec%> recommends the following:

<ul>
<li>Configure UAA clients and users using a BOSH manifest. Limit and manage these clients and users as you would any other kind of privileged account.</li>
<li>Deploy within a VLAN that limits network traffic to individual VMs. This reduce the possibility of unauthorized access to the VMs within your BOSH-managed cloud.</li>
<li>Enable HTTPS for applications and SSL database connections to protect sensitive data transmitted to and from applications.</li>
<li>Ensure that the Jumpbox is secure, along with the load balancer and NAT VM.</li>
<li>Encrypt stored files and data within databases to meet your data security requirements. Deploy using industry standard encryption and the best practices for your language or framework.</li>
<li>Prohibit promiscuous network interfaces on the trusted network.</li>
<li>Review and monitor data sharing and security practices with third-party services that you use to provide additional functionality to your application.</li>
<li>Store SSH keys securely to prevent disclosure, and promptly replace lost or compromised keys.</li>
<li>Use Cloud Foundry’s RBAC model to restrict your users' access to only what is necessary to complete their tasks.</li>
<li>Use a strong passphrase for both your Cloud Foundry user account and SSH keys.</li>
<%= vars.ipsec_note %>
</ul>
