---
title: Cloud Foundry Security
owner: Security
---

<%# Reset page title based on product title %>
<% current_page.data.title = vars.platform_name + " Security" if vars.platform_code != 'CF' %>

This topic provides an overview of <%= vars.app_runtime_full %> security. For an overview of container security, see the [Container Security](container-security.html) topic.

<%= vars.app_runtime %> implements the following measures to mitigate against security threats:

* Minimizes network surface area
* Isolates customer apps and data in containers
* Encrypts connections
* Uses  role-based access controls, applying and enforcing roles and permissions to ensure that users can only view and affect the spaces for which they have been granted access
* Ensures security of application bits in a multi-tenant environment
* Prevents possible denial of service attacks through resource starvation

## <a id='system-boundaries'></a>System Boundaries and Access ##

As the image below shows, in a typical deployment of <%= vars.app_runtime %>, the components run on virtual machines (VMs) that exist within a VLAN. In this configuration, the only access points visible on a public network are a load balancer that maps to one or more <%= vars.app_runtime %> routers and, optionally, a NAT VM and a jumpbox. Because of the limited number of contact points with the public internet, the surface area for possible security vulnerabilities is minimized.

<p class="note"><strong>Note</strong>: <%=vars.recommended_by%> recommends that you also install a NAT VM for outbound requests and a jumpbox to access the BOSH Director, though these access points are optional depending on your network configuration.</p>

  <%= image_tag("images/security/sysbound1.png") %>

### <a id='protocols'></a>Protocols ###

All traffic from the public internet to the Cloud Controller and UAA happens over HTTPS. Inside the boundary of the system, components communicate over a publish-subscribe (pub-sub) message bus [NATS](http://nats.io/), HTTP, and SSL/TLS.

### <a id='bosh'></a>BOSH ###

Operators deploy <%= vars.app_runtime %> with BOSH. The BOSH Director is the core orchestrating component in BOSH: it controls VM creation and deployment, as well as other software and service lifecycle events. You use HTTPS to ensure secure communication to the BOSH Director.

<p class="note"><strong>Note</strong>: <%= vars.recommended_by %> recommends that you deploy the BOSH Director on a subnet that is not publicly accessible, and access the BOSH Director from a jumpbox on the subnet or through VPN.</p>

BOSH includes the following functionality for security:

* Communicates with the VMs it launches over NATS. Because NATS cannot be accessed from outside <%= vars.app_runtime %>, this ensures that published messages can only originate from a component within your deployment.

* Provides an audit trail through the `bosh tasks --all` and `bosh tasks --recent=VALUE` commands. `bosh tasks --all` returns a table that shows all BOSH actions taken by an operator or other running processes. `bosh tasks --recent=VALUE` returns a table of recent tasks, with `VALUE` being the number of recent tasks you want to view.

* Allows you to set up individual login accounts for each operator. BOSH operators have root access.

<p class="note"><strong>Note</strong>: BOSH does not encrypt data stored on BOSH VMs. Your IaaS might encrypt this data.</p>

## <a id='isolation-segments'></a>Isolation Segments

Isolation segments provide dedicated pools of resources to which apps can be deployed to isolate workloads. Using isolation segments separates app resources as completely as if they were in different <%= vars.app_runtime %> deployments but avoids redundant management components and unneeded network complexity.

You can designate isolation segments for exclusive use by [orgs and spaces](./roles.html) within <%= vars.app_runtime %>. This guarantees that apps within the org or space use resources that are not also used by other orgs or spaces.

Customers can use isolation segments for different reasons, including the following:

* To follow regulatory restrictions that require separation between different types of apps. For example, a health care company might not be able to host medical records and billing systems on the same machines.
* To dedicate specific hardware to different isolation segments. For example, to ensure that high-priority apps run on a cluster of high-performance hosts.
* To separate data on multiple clients, to strengthen a security story, or offer different hosting tiers.

In <%= vars.app_runtime %>, the Cloud Controller database (CCDB) identifies isolation segments by name and GUID, for example `30dd879c-ee2f-11db-8314-0800200c9a66`. The isolation segment object has no internal structure beyond these two properties at the <%= vars.app_runtime %> level, but BOSH associates the name of the isolation segment with Diego Cells, through their `placement_tag` property.

This diagram shows how isolation segments keep apps running on different pools of cells, and how the cells communicate with each other and with the management components:

  <%= image_tag("images/security/isolation-segments.png") %>

<%= vars.manage_iso_seg_link %>

See the [Isolation Segments](http://v3-apidocs.cloudfoundry.org/version/3.0.0/index.html#isolation-segments) section of the _Cloud Controller API (CAPI) Reference_ for API commands related to isolation segments.


## <a id='auth'></a>Authentication and Authorization ##

[User Account and Authentication](./architecture/uaa.html) (UAA) is the central identity management service for <%= vars.app_runtime %> and its various components.

UAA acts as an [OAuth2](https://oauth.io/) Authorization Server and issues access tokens for apps that request platform resources. The tokens are based on the [JSON Web Token](http://jwt.io/) and are digitally signed by UAA.

Operators can configure the identity store in UAA. If users register an account with the <%= vars.app_runtime %> platform, UAA acts as the user store and stores user passwords in the UAA database using [bcrypt](http://en.wikipedia.org/wiki/Bcrypt). UAA also supports connecting to external user stores through LDAP and SAML. Once an operator has configured the external user store, such as a corporate Microsoft Active Directory, users can use their LDAP credentials to gain access to the <%= vars.app_runtime %> platform instead of registering a separate account. Alternatively, operators can use SAML to connect to an external user store and enable single sign-on for users into the <%= vars.app_runtime %> platform.

### <a id='rbac'></a>Managing User Access with Role-Based Access Control ###

Apps that users deploy to <%= vars.app_runtime %> exist within a space. Spaces exist within orgs. To view and access an org or a space, a user must be a member of it. <%= vars.app_runtime %> uses role-based access control (RBAC), with each role granted permissions to either an org or a specified space. For more information about roles and permissions, see [Orgs, Spaces, Roles, and Permissions](roles.html).

<%= vars.console_links %>

## <a id='service-broker'></a>Security for Service Broker Integration ##

The Cloud Controller authenticates every request with the Service Broker API using HTTP or HTTPS, depending on which protocol that you specify during broker registration. The Cloud Controller rejects any broker registration that does not contain a username and password.

Service instances bound to an app contain credential data. Users specify the binding credentials for [user-provided service instances](../devguide/services/user-provided.html), while third-party brokers specify the binding credentials for managed service instances. The VCAP_SERVICES environment variable contains credential information for any service bound to an app. <%= vars.app_runtime %> constructs this value from encrypted data that it stores in the CCDB.

<p class="note"><strong>Note</strong>: The selected third-party broker controls how securely to communicate managed service credentials.</p>

A third-party broker might offer a dashboard client in its catalog. Dashboard clients require a text string defined as a `client_secret`. <%= vars.app_runtime %> does not store this secret in the CCDB. Instead, <%= vars.app_runtime %> passes the secret to the UAA component for verification using HTTP or HTTPS.

## <a id='vuln-manage'></a>Software Vulnerability Management ##

<%= vars.app_runtime %> manages software vulnerability using releases and BOSH stemcells. New <%= vars.app_runtime %> releases are created with updates to address code issues, while new stemcells are created with patches for the latest security fixes to address any underlying operating system issues.

## <a id='app-artifacts'></a>Ensuring Security for Application Artifacts ##

<%= vars.app_runtime %> secures both the code and the configuration of an application using the following functionality:

* Application developers push their code using the [<%= vars.app_runtime %> API](http://apidocs.cloudfoundry.org/). <%= vars.app_runtime %> secures each call to the <%= vars.app_runtime %> API using the [UAA](#auth) and SSL.

* The Cloud Controller uses [RBAC](#rbac) to ensure that only authorized users can access a particular application.

* The Cloud Controller stores the configuration for an application in an encrypted database table. This configuration data includes user-specified environment variables and service credentials for any services bound to the app.

* <%= vars.app_runtime %> runs the app inside a secure container. For more information, see the [Container Security](./container-security.html) topic.

* <%= vars.app_runtime %> operators can configure network traffic rules to control inbound communication to and outbound communication from an app. For more information, see the [Network Traffic Rules](./container-security.html#config-traffic) section of the [Container Security](./container-security.html) topic.

## <a id='logging'></a>Security Event Logging and Auditing ##

For operators, <%= vars.app_runtime %> provides an audit trail through the `bosh tasks` command. This command shows all actions that an operator has taken with the platform.
Additionally, operators can redirect <%= vars.app_runtime %> component logs to a standard syslog server using the `syslog_daemon_config` [property](http://docs.cloudfoundry.org/running/managing-cf/logging.html) in the `metron_agent` job of `cf-release`.

For users, <%= vars.app_runtime %> records an audit trail of all relevant API invocations of an app. The <%= vars.app_runtime %> Command Line Interface (cf CLI) command `cf events` returns this information.

## <a id='recommendations'></a>Recommendations for Running a Secure Deployment ##

To help run a secure deployment, <%= vars.recommended_by %> recommends the following:

<ul>
<li>Configure UAA clients and users using a BOSH manifest. Limit and manage these clients and users as you would any other kind of privileged account.</li>
<li>Deploy within a VLAN that limits network traffic to individual VMs. This reduce the possibility of unauthorized access to the VMs within your BOSH-managed cloud.</li>
<li>Enable HTTPS for apps and SSL database connections to protect sensitive data transmitted to and from apps.</li>
<li>Ensure that the jumpbox is secure, along with the load balancer and NAT VM.</li>
<li>Encrypt stored files and data within databases to meet your data security requirements. Deploy using industry standard encryption and the best practices for your language or framework.</li>
<li>Prohibit promiscuous network interfaces on the trusted network.</li>
<li>Review and monitor data sharing and security practices with third-party services that you use to provide additional functionality to your application.</li>
<li>Store SSH keys securely to prevent disclosure, and promptly replace lost or compromised keys.</li>
<li>Use <%= vars.app_runtime %>'s RBAC model to restrict your users' access to only what is necessary to complete their tasks.</li>
<li>Use a strong passphrase for both your <%= vars.app_runtime %> user account and SSH keys.</li>
<%= vars.ipsec_note %>
</ul>

## <a id='compliance'></a>Compliance

For information about compliance in <%= vars.app_runtime %>, see the following topics:

* <a href="https://docs.pivotal.io/nist/index.html">NIST Controls and <%= vars.app_runtime_full %></a>:
Provides a dedicated site that assesses <%= vars.app_runtime %> against NIST SP 800-53(r4) Controls.

* <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/opsguide/gdpr.html">General Data Protection Regulation</a>:
Provides an overview of the General Data Protection Regulation (GDPR) and where <%= vars.app_runtime %> might store personal data.

## <a id='apps-services'></a>Security for Apps and Services

This section links to topics that describe how <%= vars.app_runtime %> and <%= vars.app_runtime %> users manage security for apps and service instances.

* <a href="../concepts/asg.html">Application Security Groups</a>:
Describes how Application Security Groups (ASGs) work and how to manage them in <%= vars.app_runtime %>.

* <a href="../opsguide/config-ssh.html">Configuring SSH Access for <%= vars.app_runtime_full %></a>:
Explains how to configure <%= vars.app_runtime %> to allow SSH access to app instances for debugging.

* <a href="../opsguide/app-sec-groups.html">Restricting App Access to Internal <%= vars.app_runtime_full %> Components</a>:
Details how to create ASGs, rules that allow internal outgoing communications
from all apps in <%= vars.app_runtime %>, or the apps running in the same space.

* <a href="../opsguide/notifications-asg.html">Configuring Application Security Groups for Email Notifications</a>:
Describes how to define an ASG to enable app-generated notifications.

* <a href="../devguide/deploy-apps/trusted-system-certificates.html">Trusted System Certificates</a>:
Explains where apps can find trusted system certificates.

* <a href="../services/access-control.html">Managing Access to Service Plans</a>: Describes how to
enable or disable access to service plans for a subset of users.

* <a href="../devguide/services/application-binding.html">Delivering Service Credentials to an Application</a>:
Describes how to bind apps to service instances,
which generate the credentials that enable the apps to use the service.

* <a href="../devguide/services/service-keys.html">Managing Service Keys</a>:
Explains how to create and manage service keys that enable apps to use service instances.
