---
title: Runtime components
---

<%# Reset page title based on product title %>
<% if vars.platform_code != 'CF' %>
<% set_title(vars.app_runtime_abbr, "Components") %>
<% end %>

This topic tells you about the <%= vars.app_runtime_first %> runtime components.

<%= vars.app_runtime_abbr %> components include a self-service application execution engine, an automation engine for application deployment, and lifecycle management, and a scriptable command line interface (CLI). Also, an integration with development tools to ease deployment processes.
<%= vars.app_runtime_abbr %> has an open architecture that includes a buildpack mechanism for adding frameworks, an application services interface, and a cloud provider interface.

See the following descriptions for more information about <%= vars.app_runtime_abbr %> components. Some descriptions include links to more detailed documentation.

![Architecture components](./images/../../images/cf_architecture_block.png)

## <a id='routing'></a> Routing

### <a id='router'></a> Router

The router routes incoming traffic to the appropriate component, either a Cloud Controller component or a hosted application running on a Diego Cell.

The router periodically queries the Diego Bulletin Board System (BBS) to determine which cells and containers each application currently runs on. Using this information, the router recomputes new routing tables based on the IP address of each cell virtual machine (VM) and the host-side port numbers for the cell's containers.

For more information about the routing tier, including the router, see [<%= vars.app_runtime_abbr %> Routing Architecture](../cf-routing-architecture.html).

## <a id='authentication'></a> Authentication

### <a id='uaa'></a> OAuth2 Server (Tanzu UAA) and Login Server

The OAuth2 server ([Tanzu UAA](./uaa.html)) and Login Server work together to provide identity management.


## <a id='app-lifecycle'></a> App Lifecycle

### <a id='cc'></a> Cloud Controller and Diego Brain

The [Cloud Controller](./cloud-controller.html) (CC) directs the deployment of applications. To push an app to <%= vars.app_runtime_abbr %>, you target the Cloud Controller. The Cloud Controller then directs the Diego Brain through the CC-Bridge components to coordinate individual [Diego cells](#diego-cell) to stage and run applications.

The Cloud Controller also maintain records of [orgs, spaces, user roles](../roles.html), services, and more.

### <a id='nsync-bbs'></a> nsync, BBS, and Cell Reps

To keep applications available, cloud deployments must constantly monitor their states and reconcile them with their expected states, starting and stopping processes as required.

![<%= vars.app_runtime_abbr %> Architecture](../images/diego/app-monitor-sync-diego.png)

The nsync, BBS, and Cell Rep components work together along a chain to keep apps running. At one end is the user. At the other end are the instances of applications running on widely-distributed VMs, which might crash or become unavailable.

Here is how the components work together:

* **nsync** receives a message from the Cloud Controller when the user scales an app. It writes the number of instances into a `DesiredLRP` structure in the Diego BBS database.
* **BBS** uses its convergence process to monitor the `DesiredLRP` and `ActualLRP` values. It runs or stops application instances as appropriate to ensure the `ActualLRP` count matches the `DesiredLRP` count.
* **Cell Rep** monitors the containers and provides the `ActualLRP` value.


## <a id='app-storage-execution'></a> App Storage and Execution

### <a id='blob'></a> Blobstore

The blobstore is a repository for large binary files, which Github cannot easily manage because GitHub is designed for code. The blobstore contains the following:

* Application code packages
* Buildpacks
* Droplets

You can configure the blobstore as either an internal server or an external S3 or S3-compatible endpoint.

### <a id='diego-cell'></a> Diego Cell

Application instances, application tasks, and staging tasks all run as [Garden](garden.html) containers on the Diego Cell VMs. The Diego cell rep component manages the lifecycle of those containers and the processes running in them, reports their status to the Diego BBS, and emits their logs and metrics to [Loggregator](#metrics-logging).


## <a id='services'></a> Services

### <a id='broker'></a> Service Brokers

Applications typically depend on <%= vars.services %> such as databases or third-party SaaS providers. When a developer provisions and binds a service to an application, the service broker for that service is responsible for providing the service instance.


## <a id='messaging'></a> Messaging

### <a id='bbs'></a> Internal HTTPS and BBS

The component VMs of <%= vars.app_runtime_abbr %> communicate with each other internally through HTTP and HTTPS protocols, sharing temporary messages and data stored in Diego's [Bulletin Board System (BBS)](../diego/diego-architecture.html#bbs).

* BOSH Director colocates a [BOSH DNS](https://bosh.io/docs/dns/) server on every deployed VM. All VMs keep up-to-date DNS records for all the other VMs in the same foundation, enabling service discovery between VMs. BOSH DNS also provides client-side load-balancing by randomly selecting a healthy VM when multiple VMs are available.

* Diego's [Bulletin Board System](../diego/diego-architecture.html#bbs) (BBS) stores more frequently updated and disposable data such as cell and app status, unallocated work, and heartbeat messages, as well as longer-lived distributed locks. The BBS stores data in MySQL, using the [Go MySQL Driver](https://github.com/go-sql-driver/mysql).

The route emitter component uses the NATS protocol to broadcast the latest routing tables to the routers.


## <a id='metrics-logging'></a> Metrics and Logging

### <a id='metrics'></a> Loggregator

The Loggregator (log aggregator) system streams application logs to developers.

<% if vars.platform_code == "CF" %>

For more information about the Loggregator, see <a href="https://docs.cloudfoundry.org/loggregator/architecture.html">Loggregator Architecture</a>.

<%= partial 'old_collector' %>

<% else %>

For more information about the Loggregator architecture, see <a href="../../loggregator/architecture.html">Loggregator Architecture</a>.

<% end %>
